{% load static %}
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/echarts.js' %}"></script>

<script type="text/javascript">
	function block_show(data, ) {
		var dom = document.getElementById('container');
		var myChart = echarts.init(dom, null, {
		  renderer: 'canvas',
		  useDirtyRect: false
		});
		var app = {};
		var option;
		option = {
		title: {
			text: 'Stacked Line'
		},
		tooltip: {
			trigger: 'axis'
		},
		legend: {
			data: data[0]
		},
		toolbox: {
			feature: {
			  saveAsImage: {}
			}
		},
		xAxis: {
			type: 'category',
			boundaryGap: false,
			data: data[1]
		},
		yAxis: {
			type: 'value'
		},
		series: [
			{
			  name: data[0][0],
			  type: 'line',
			  stack: 'Total',
			  data: data[2][0]
			},
			{
			  name: data[0][1],
			  type: 'line',
			  stack: 'Total',
			  data: data[2][1]
			},
			{
			  name: data[0][2],
			  type: 'line',
			  stack: 'Total',
			  data: data[2][2]
			},
			{
			  name: data[0][3],
			  type: 'line',
			  stack: 'Total',
			  data: data[2][3]
			}
		]
		};
		if (option && typeof option === 'object') {
		  myChart.setOption(option);
		}
    	window.addEventListener('resize', myChart.resize);
	}
	window.onload = function () {
		$.ajax({
			url: "/polls/mutline_tricker_price/",
			type:"POST",
			data: {"k1": "v1"},
			success: function (data) {
				console.log(data["obj"])
				block_show(data["obj"]);
			}
		})
	}
	//block_show("");
</script>
</body>
</html>
