{% load static %}
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/echarts.min.js' %}"></script>

<script type="text/javascript">
	var dom = document.getElementById('container');
	var myChart = echarts.init(dom, null, {
	  renderer: 'canvas',
	  useDirtyRect: false
	});
	var app = {};
	var option;
	var list_index = {{ line_index|safe }}
	var list_values = {{ line_values|safe }}

	option = {
		xAxis: {
			type: 'category',
			data: list_index,
		},
		tooltip: {
			trigger: 'axis'
		},
		yAxis: {
			type: 'value'
		},
		series: [
			{
				data: list_values,
				type: 'line'
			}
		]
	};
	myChart.setOption(option);
	console.log(list_index)
</script>
</body>
<
