{% load static %}
<html lang="en" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">

<div id="container" style="height: 100%"></div>

<div id="text2">
	<table border=1>
		   <thead>
				<tr>
					<th style = "width :60px">股票名</th>
					<th style = "width :60px">形态</th>
					<th style = "width :60px">涨幅</th>
				</tr>
			</thead>
			<tbody id="text1">
			</tbody>
	</table>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/echarts.js' %}"></script>

<script type="application/json" id="data-json">{% autoescape off %}{{ report_data }}{% endautoescape %}</script>
<script type="text/javascript">

var arrayFromDjango = JSON.parse(document.getElementById('data-json').textContent);
const rawData = arrayFromDjango.items;

// prettier-ignore
//const rawData = {{ tricer_date }}
function calculateMA(dayCount, data) {
  var result = [];
  for (var i = 0, len = data.length; i < len; i++) {
    if (i < dayCount) {
      result.push('-');
      continue;
    }
    var sum = 0;
    for (var j = 0; j < dayCount; j++) {
      sum += +data[i - j][1];
    }
	result.push(Math.round((sum / dayCount)*100)/100);
  }
  return result;
}

function calculateUp(data) {
	var result = [];
	for (var i = 0, len = data.length; i < len; i++) {
		if (i == 0) {
		  result.push('-');
		  continue;
		}
		result.push(((data[i][1] - data[i-1][1])/data[i-1][1]).toFixed(3));
	}
	return result;
}

const dates = rawData.map(function (item) {
  return item[0];
});

const data = rawData.map(function (item) {
  return [+item[1], +item[2],  +item[5], +item[6] ];
});

const dateUp = rawData.map(function (item) {
  return [+item[4]*100];
});


function showtable()
{
	var chartDom = document.getElementById('container');
	var myChart = echarts.init(chartDom);
	var option;
	option = {
		legend: {
			data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30', 'up'],
			inactiveColor: '#777'
		},
		tooltip: {
			trigger: 'axis',
			axisPointer: {
				animation: false,
				type: 'cross',
				lineStyle: {
				color: '#376df4',
				width: 2,
				opacity: 1
				}
			}
		},
		xAxis: {
			type: 'category',
			data: dates,
			axisLine: { lineStyle: { color: '#8392A5' } }
		},
		yAxis: {
			scale: true,
			axisLine: { lineStyle: { color: '#8392A5' } },
			splitLine: { show: false }
		},
		grid: {
			bottom: 80
			}, dataZoom: [ {
				textStyle: {
				color: '#8392A5'
				},
				handleIcon:
				'path://M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
					dataBackground: {
						areaStyle: {
						  color: '#8392A5'
						},
						lineStyle: {
						  opacity: 0.8,
						  color: '#8392A5'
						}
					},
				brushSelect: true
			},
			{
				type: 'inside'
			}
		],
		series: [
		{
			type: 'candlestick',
			name: 'Day',
			data: data,
			itemStyle: {
				color: '#FD1050',
				color0: '#0CF49B',
				borderColor: '#FD1050',
				borderColor0: '#0CF49B'
			}
		},
		{
			name: '5日',
			type: 'line',
			data: calculateMA(5, data),
			smooth: true,
			showSymbol: false,
			lineStyle: {
				width: 1
			}
		},
		{
			name: '10日',
			type: 'line',
			data: calculateMA(10, data),
			smooth: true,
			showSymbol: false,
			lineStyle: {
				width: 1
			}
		},
		{
			name: '20日',
			type: 'line',
			data: calculateMA(20, data),
			smooth: true,
			showSymbol: false,
			lineStyle: {
				width: 1
			}
		},
		{
			name: '30日',
			type: 'line',
			data: calculateMA(30, data),
			smooth: true,
			showSymbol: false,
			lineStyle: {
				width: 1
			}
		},
		{
			name: 'up',
			type: 'line',
			data: calculateUp( data),
			smooth: true,
			showSymbol: false,
			lineStyle: {
				width: 1
			}
		},
		]
	};
	option && myChart.setOption(option);
}

showtable()

</script>
</body>
</html>
